In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import missingno as msno

__Import des données dans le dataframe "df" et paramétrage des options__

In [ ]:
df = pd.read_csv("kc_house_data.cleaning.csv")
pd.options.display.max_columns = 100
df.shape

__Matrice des données__

In [ ]:
msno.matrix(df)

In [ ]:
df.info()

__5 premières lignes__

In [ ]:
df.head()

__Renommage des colonnes__

In [ ]:
df.rename(columns={
    "price" : "prix", 
    "bedrooms" : "chambres",
    "bathrooms" : "salle_de_bain",
    "sqft_living" : "m2_habitable",
    "sqft_lot" : "m2_parcelle",
    "floors" : "etages",
    "waterfront" : "vue_mer",
    "view" : "vue",
    "grade" : "note",
    "sqft_above" : "m2_etage",
    "sqft_basement" : "m2_cave",
    "yr_built" : "annee_construction",
    "yr_renovated" : "annee_renovation",
    "zipcode" : "cp",
    "long" : "lon",
    "sqft_living15" : "m2_habitable15",
    "sqft_lot15" : "m2_parcelle15"
},
        inplace=True)
df.head()

__Graphiques de toutes les données__

In [ ]:
df.hist(figsize=(16,18))

Les chambres semblent avoir un potentiel soucis (ça monte jusque 30)\
L'année de rénovation a plus de 20 000 entrées à 0\
Le code postal est potentiellement pas intéressant dans l'état

__Affichage des id redondant (pour les maisons ayant eu de multiple vente)__

In [ ]:
df.loc[df["id"].duplicated(keep=False),:]

__Description des données__

In [ ]:
df.describe()

__Nombre d'entrées ayant moins d'une chambre__

In [ ]:
len(df.loc[df["chambres"] < 1])

__Drop des 13 entrées ayant 0 chambres (21613 -> 21600)__

In [ ]:
df = df[df.chambres != 0]
#df.drop(df[df.chambres != 0].chambres, inplace = True) - Retire 12 entrées au lieu de 13
df.shape

__Graphique de toutes les valeurs de chambres__

In [ ]:
sns.countplot(x = df["chambres"])

__Rangement des valeurs avec la colonne "chambres"__

In [ ]:
df.sort_values(by=["chambres"])

__Edit de l'entrée ayant 33 chambres vers 3 chambres__

In [ ]:
df.loc[15870,"chambres"] = 3
df.sort_values(by=["chambres"])

__Nombre d'entrées ayant zéro salle de bain__

In [ ]:
len(df.loc[df["salle_de_bain"] == 0])

__Drop des 3 salle de bain (21600 -> 21597)__

In [ ]:
df = df[df.salle_de_bain != 0]
#df.drop(df[df.chambres != 0].chambres, inplace = True) - Retire 2 entrées au lieu de 3
df.shape

__Graphique de toutes les valeurs de salle de bain__

In [ ]:
df["salle_de_bain"].value_counts(normalize=True, sort=False).plot(kind='bar')
plt.show()

__Rangement des valeurs avec la colonne "salle_de_bain"__

In [ ]:
df.sort_values(by=["salle_de_bain"])

__Graphique du nombre de chambre face au salle de bain__

In [ ]:
plt.scatter(df["chambres"], df["salle_de_bain"], c=df["prix"])
plt.xlabel("Chambres")
plt.ylabel("Salle de bain")
plt.colorbar()

__Corrélation des colonnes en rapport au prix__

In [ ]:
df.corr()["prix"].sort_values(ascending=False)

__Export csv pour la préparation__

In [ ]:
#df.to_csv("kc_house_data.preparation.csv", index=False)