In [39]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import random
import streamlit as st
import missingno as msno
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [40]:
df = pd.read_csv("kc_house_data.preparation.csv")
pd.options.display.max_columns = 40
df.head()

,Unnamed: 0,id,date,prix,chambres,salle_de_bain,m2_habitable,m2_parcelle,etages,vue_mer,vue,condition,note,m2_etage,m2_cave,annee_construction,annee_renovation,cp,lat,lon,m2_habitable15,m2_parcelle15
0,0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [41]:
df["m2_habitable"] = round(df["m2_habitable"].apply(lambda x: x * 0.09290304))
df["m2_parcelle"] = round(df["m2_parcelle"].apply(lambda x: x * 0.09290304))
df["m2_etage"] = round(df["m2_etage"].apply(lambda x: x * 0.09290304))
df["m2_cave"] = round(df["m2_cave"].apply(lambda x: x * 0.09290304))
df["m2_habitable15"] = round(df["m2_habitable15"].apply(lambda x: x * 0.09290304))
df["m2_parcelle15"] = round(df["m2_parcelle15"].apply(lambda x: x * 0.09290304))
df.head()

,Unnamed: 0,id,date,prix,chambres,salle_de_bain,m2_habitable,m2_parcelle,etages,vue_mer,vue,condition,note,m2_etage,m2_cave,annee_construction,annee_renovation,cp,lat,lon,m2_habitable15,m2_parcelle15
0,0,7129300520,20141013T000000,221900.0,3,1.00,110.0,525.0,1.0,0,0,3,7,110.0,0.0,1955,0,98178,47.5112,-122.257,124.0,525.0
1,1,6414100192,20141209T000000,538000.0,3,2.25,239.0,673.0,2.0,0,0,3,7,202.0,37.0,1951,1991,98125,47.7210,-122.319,157.0,710.0
2,2,5631500400,20150225T000000,180000.0,2,1.00,72.0,929.0,1.0,0,0,3,6,72.0,0.0,1933,0,98028,47.7379,-122.233,253.0,749.0
3,3,2487200875,20141209T000000,604000.0,4,3.00,182.0,465.0,1.0,0,0,5,7,98.0,85.0,1965,0,98136,47.5208,-122.393,126.0,465.0
4,4,1954400510,20150218T000000,510000.0,3,2.00,156.0,751.0,1.0,0,0,3,8,156.0,0.0,1987,0,98074,47.6168,-122.045,167.0,697.0